.aside{

    background-color: lightblue;
    width: 20%;
    height: 500px;
    float: left;

}

.grup_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card1{

    margin: 5px;
    width: 90%;
    height: 150px;
    background-color: white;

}